.container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
    padding: var(--gap-md);
    border-radius: var(--border-radius-md);
    background-color: var(--secondary);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: var(--gap-sm);
}

.actions > button {
    flex: 1;
}
