.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: var(--gap-sm);
}

.channels {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: var(--gap-sm);
    overflow-y: auto;
}

.addChannel {
    width: 100%;
}
