.channelItem {
    border: none;
    border-radius: var(--border-radius-lg);
    margin: 0;
    background: transparent;
    padding: 0;
}

.channelItem:hover {
    background: rgba(147, 80, 254, 0.1);
    transition: background ease-in-out 0.2s;
    border-radius: var(--border-radius-lg);
}

.channelButton {
    width: 100%;
    text-align: left;
}

.channelName {
    width: 100%;
    margin-left: 0;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    text-transform: none;
}
