:root {
    --max-width: 1100px;
    --border-radius: 12px;
    --font-mono:
        ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
        'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
        'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

    --primary: rgb(15, 7, 30);
    --secondary: rgb(21, 19, 19);
    --tertiary: rgb(12, 12, 12);
    --accent: rgb(0, 0, 0);
}

[data-theme='light'],
[data-theme='light'] body {
    --primary: rgb(64, 66, 88);
    --secondary: rgb(71, 78, 104);
    --tertiary: rgb(80, 87, 122);
    --accent: rgb(107, 114, 142);
}

[data-theme='dark'],
[data-theme='dark'] body {
    --primary: rgb(39, 55, 77);
    --secondary: rgb(82, 109, 130);
    --tertiary: rgb(157, 178, 191);
    --accent: rgb(221, 230, 237);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    color: var(--font-color);
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
