.container {
    display: flex;
    flex-direction: column;
    min-width: 192px;
    max-width: 192px;
    padding: var(--padding-sm);
    border-radius: var(--border-radius-lg);
    margin: var(--margin-sm);
    background: var(--secondary);
    gap: var(--gap-sm);
}

.channel {
    border: none;
    border-radius: var(--margin-sm);
    margin: var(--margin-sm);
    background: transparent;
    white-space: nowrap;
}
