.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    height: 100%;
    min-height: 0;
    transition: grid-template-columns 0.3s ease;
    background: var(--secondary);
    padding: var(--padding-sm);
    border-radius: var(--border-radius-lg);
}

.container.showMembers {
    grid-template-columns: 1fr 250px;
}

.send {
    grid-column: 1;
    grid-row: 2;
    flex-shrink: 0;
    width: 100%;
    box-sizing: border-box;
}

.send > input {
    width: 100%;
    box-sizing: border-box;
}

.messages {
    grid-column: 1;
    grid-row: 1;
    min-height: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.members {
    grid-column: 2;
    grid-row: 1 / 3;
    width: 250px;
    display: flex;
    flex-direction: column;
    background: var(--secondary);
    overflow-y: auto;
    border-left: 1px solid var(--tertiary);
    margin-left: var(--margin-sm);
    border-radius: var(--border-radius-lg);
}
