.member {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: var(--margin-md);
    gap: var(--gap-sm);
}

.memberIcon {
    border-radius: var(--border-radius-lg);
    background: var(--color-bg-light);
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-text);
    text-transform: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.memberIcon img {
    border-radius: var(--border-radius-lg);
    width: 2rem;
    height: 2rem;
    object-fit: cover;
}

.memberName {
    margin-left: var(--margin-md);
    color: var(--color-text);
    font-family: var(--font-family), sans-serif;
    font-size: 1rem;
    font-weight: 500;
}
