.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--padding-sm);
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    align-content: center;
}

.messageContent {
    display: flex;
    flex-direction: column;
}

.messageHeader {
    display: flex;
    gap: var(--gap-sm);
}

.messageBody {
    margin-top: var(--margin-sm);
}
