.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    gap: var(--gap-sm);
    margin: var(--margin-sm);
    padding: var(--padding-sm);
    border-radius: var(--border-radius-lg);
    background: var(--primary);
}
