.servers {
    background: var(--primary);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: scroll;
    padding-left: 4px;
}

.server {
    margin: 0.4rem;
    transition: ease-in-out 0.2s;
    border-radius: 32px;
    background: var(--tertiary);
    height: 4rem;
    width: 4rem;
    color: white;
    text-transform: none;
    border: none;
}

.server img {
    transition: ease-in-out 0.2s;
    border-radius: 32px;
    width: 4rem;
}

.server:hover,
.server:hover img,
.server:hover a {
    transition: ease-in-out 0.2s;
    border-radius: 20px;
    background: rgba(64, 64, 64, 1);
}

.serverContextMenu:last-child {
    color: red;
}
