.dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.dialogContent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--color-overlay);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.dialogInner {
    position: relative;
    z-index: 1001;
}
